.top {

    margin-top: 75px;
}

.service-section {

    margin-top: 120px;

}

.ldbtn {

    border: 1px solid #FE3E01;
    color: #FE3E01;
}

.ldbtn:hover {

    background-color: #FE3E01;
    color: white;
}

.gallery {

    margin-top: 100px;
}

.tb {

    cursor: pointer;
}

.img-gl:hover {
    content: "";
    background-color: #000;
    display: block;
    opacity: 0.8;
}

/* darken carousell image */
.ci2::before {
    content: "";
    background-color: #000;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.7;
}